.videoBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 60px 150px;
  color: var(--blue-500);
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .videoBlock {
    padding: 60px 20px;
  }
}
