.statsBlock {
  padding: 60px 150px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  color: var(--blue-500);
  justify-content: center;
  align-items: center;
}

.statsCards {
  display: flex;
  width: 80%;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .statsBlock {
    padding: 60px 20px;
    gap: 30px;
  }

  .statsCards {
    flex-direction: column;
    gap: 60px;
  }
}
