.imageBlock {
  padding: 0px 150px;
  height: 600px;
  overflow: hidden;
}

.imageBlock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 768px) {
  .imageBlock {
    padding: 0px 20px;
    height: 400px;
  }
}
