.hero {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 45px;
  column-gap: 60px;

  padding: 60px 150px;

  color: var(--white);
  background: linear-gradient(
    70deg,
    var(--blue-500) 65%,
    var(--turquoise-500) 100%
  );
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: left;

    padding: 60px 20px;
  }
}
