.textBlock {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 60px 150px;
  color: var(--blue-500);
}

.textBlock p {
  color: var(--grey);
}

@media (max-width: 768px) {
  .textBlock {
    padding: 60px 20px;
  }
}
