@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Blue Pallette */
  --blue-50: #ddddff;
  --blue-150: #b1b1f0;
  --blue-300: #5a58d2;
  --blue-500: #0300b4;
  --blue-700: #02006c;
  --blue-900: #010036;

  /*Turquoise Pallette */
  --turquoise-50: #e5fefc;
  --turquoise-150: #b2fbf5;
  --turquoise-300: #66f7eb;
  --turquoise-500: #00f2de;
  --turquoise-700: #009185;
  --turquoise-900: #004943;

  /* General */
  --white: #f3f3f3;
  --black: #202020;
  --grey: #666666;
  --grey-100: #d5d5d5;
}

body {
  font-family: "Montserrat", sans-serif;
}
/*
main {
  padding: 45px 100px;
}
  */

/* Typography */
h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

/* Medium Screens: Tablets */
@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
}

/* Small Screens: Mobile */
@media (max-width: 768px) {
  /*
  main {
    padding: 20px 40px;
  }
*/
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }
}
