.item {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
}

.icon {
  font-size: 3rem;
  color: var(--blue-500);
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.value {
  font-size: 1rem;
  color: #666;
}

.link {
  text-decoration: none;
  color: inherit;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: start;
}
