.eventCard {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
}

.eventCard img {
  width: 250px;
  height: 150px;
  object-fit: cover;
  flex-shrink: 0;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eventInfo h4 {
  font-weight: 600;
}

.eventInfo p {
  width: 600px;
}

.eventFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 768px) {
  .eventCard {
    flex-direction: column;
    align-items: start;
    text-align: left;
    
  }

  .eventCard img {
    width: 100%;
    height: auto;
  }

  .eventInfo p {
    width: 100%;
  }
}
