.footer {
  padding: 100px 150px;
  background-color: var(--blue-500);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

.newsletter,
.navigation,
.contact {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}

.link:hover {
  color: var(--turquoise-300);
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 60px;
    flex-direction: column;
    align-items: self-start;
    gap: 50px;
  }

  .link {
    font-size: 14px;
  }
}
